body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    min-height: 100px;
}

header img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.header-title {
    flex: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

h2 {
    margin: 0;
    padding: 10px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 30%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.category {
    margin-bottom: 20px;
}

.category-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

.category-content {
    display: none;
    overflow: hidden;
    background-color: #f4f4f4;
    padding: 0 18px;
}

.product {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.product img {
    width: 100px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details h3 {
    margin: 0;
    font-size: 18px;
}

.product-details p {
    margin: 5px 0;
}

.product-details a {
    color: #1a73e8;
    text-decoration: none;
    margin-top: 5px;
}

.rotate {
    animation: rotation 20s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    display: none; /* Ocultar por defecto */
}

.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-content img {
	
    /* width: 100%; */
    /* height: auto; */
    /* max-height: 400px;  Ajusta esta altura según tus necesidades  */
    /* object-fit: cover;  Esto asegura que la imagen cubra el área asignada  */
    
    width: 100%;
    height: 100%;
    max-height: 100vh; /* Ajusta la imagen para que no exceda la altura de la ventana gráfica */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor manteniendo sus proporciones */
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.list-content {
    display: block; /* Mostrar por defecto */
}

.carousel-view .list-content {
    display: none;
}

.carousel-view .carousel {
    display: block;
}

/* Estilo de la sección de contacto */
#formulario-contacto {
    margin-top: 40px;
    padding-left: 20px; /* Añadir un poco de padding para que no toque directamente el borde */
}

#contactForm {
    max-width: 600px; /* Ajusta esto según tus necesidades */
    width: 100%;
}

#contactForm .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#contactForm label {
    width: 150px; /* Ajusta esto según tus necesidades */
    margin-right: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

#contactForm input[type="text"],
#contactForm input[type="email"] {
    width: calc(100% - 160px); /* Ajusta el tamaño de los inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactForm input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px; /* Ajusta esto según tus necesidades */
    margin-top: 20px;
}



/* Estilos para el modal de imagen */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos existentes... */

.menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

nav {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
    padding: 10px;
    text-align: right;
}

nav ul li a {
    color: white;
    text-decoration: none; /*text-decoration: underline dotted red; // text-decoration: underline overline #FF3028;*/
}

nav ul li a:hover {
    text-decoration: underline;
}

.video-carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.video-content {
    display: flex;
    transition: transform 0.5s ease;
}

.video-content video {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.video-carousel .prev,
.video-carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.video-carousel .prev {
    left: 10px;
}

.video-carousel .next {
    right: 10px;
}

